<mat-card style="background-color: azure;">
    <mat-card-content >
        <button (click)="toggleAll()">{{toggleButtonText}}</button> <br> <br>
    <mat-grid-list cols="14" *ngFor="let string of stringsArr; index as i;" [ngClass]="{
        'E': i==3 && stringsCount==4 || i==5 && stringsCount==6,
        'A': i==2 && stringsCount==4 || i==4 && stringsCount==6,
        'D': i==1 && stringsCount==4 || i==3 && stringsCount==6,
        'G': i==0 && stringsCount==4 || i==2 && stringsCount==6,
        'B': i==1 && stringsCount==6,
        'E_H': i==0 && stringsCount==6
    }">
    
    <mat-grid-tile *ngFor="let note of string; index as fret" (click)="onClick(string, note, fret)" 
            [ngClass]="isSelected(note) ? 'selectedFret' : hoverable ? 'hoverableFret' : 'fret' " class="guitar" #noteButton>
            <p>
            {{note}}
            </p>
        </mat-grid-tile>
    </mat-grid-list>

</mat-card-content>
</mat-card>