<mat-card style="margin-bottom: 2%; background-color:azure;">
    <mat-card-content>

<mat-grid-list cols="5" rows="1" rowHeight="40px" style="margin-top:1%; width: 40%; margin-left: 5%;">

    <mat-grid-tile>
        <a routerLink="/" routerLinkActive="active"><button mat-raised-button>Home</button></a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a routerLink="/bass" routerLinkActive="active"><button mat-raised-button>Bass</button></a>
    </mat-grid-tile>

    <mat-grid-tile>
        <a routerLink="/acoustic" routerLinkActive="active"><button mat-raised-button>Acoustic</button></a>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <a routerLink="/earTraining" routerLinkActive="active"><button mat-raised-button>Ear training</button></a>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <a routerLink="/practice" routerLinkActive="active"><button mat-raised-button>Chords quiz</button></a>
    </mat-grid-tile>
    
</mat-grid-list>

    </mat-card-content>
</mat-card>
    