<div style="width: 80%; margin-left: 10%;">
    <mat-card style="background-color: azure;">
        <mat-card-title style="margin-bottom: 20px;">Music theory for guitar - training app</mat-card-title>
        <h2>About app</h2>
        <mat-card-content style="font-size: large;">
            <p>This app was made with an intention to help all aspiring guitar players with visualising and practising music theory.
            To navigate use the navbar on the top of the page. The site features:
            </p>
            <ul>
                <li>Virtual acoustic guitar</li>
                <li>Virtual bass guitar</li>
                <li>Ear training tool</li>
                <li>Quiz testing knowledge of scales and chords</li>
            </ul>
            App was entirely developed by Jacek Kozicki as an engineering thesis project. 

            <br>
            <br>

            <h2>About author</h2>
            <p>
                I'm a CS student from Wrocław University of Technology. <br>
                My hobby is playing bass, so I know how difficult it can be to stick to learning theory 
            and how a good learning material/tool can boost your learning. For me such a tool was Rocksmith 2014 and it was one of the inspirations for this app.
            </p>

            <br>
            <br>

            <h2>About app - technical info</h2>
            <p>
                The app was developed using Python 3.9 with Flask for backend and Angular11. <br>
                The source code will be opensource soonTM. <br>
            </p>
        </mat-card-content>
    </mat-card>
</div>
